<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="portfolio_app">
  <head>

    <meta http-equiv="last-modified" content="Sun, 10 Feb 2013 14:00:46 GMT " />
    <meta http-equiv="cache-control" content="Private" />
    <meta http-equiv="Expires" content="600" />

    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <script type="text/javascript" src="lib/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="lib/angular.min.js"></script>

    <title>Dungeon World Classes</title>

    <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
  </head>

  <body ng-controller="MainController">
    <nav>
      <section>
        <a id="logo" href="index.html">Dungeon World Classes</a>
        <div id="nav-links">
          <div class="button" ng-click="focus = 'class'" ng-class="{active: focus === 'class'}">Classes</div>
          <div class="button" ng-click="focus = 'new'" ng-class="{active: focus === 'new'}">Creating a Class</div>
          <div class="button" ng-click="focus = 'resources'" ng-class="{active: focus === 'resources'}">Resources</div>
          <div class="button" ng-click="focus = 'about'" ng-class="{active: focus === 'about'}">About</div>
        </div>
      </section>
    </nav>

    <section id="classes" ng-show="focus === 'class'">
      <div class="search-section">
        <label>Search Classes: <input ng-model="searchText"></label>
      </div>

      <table ng-repeat="category in classData">
        <thead>
          <tr class="category" ng-click="category.expanded = !category.expanded">
            <td colspan="5" ng-bind="category.name" ng-class="{true:'expanded', false:'collapsed'}[category.expanded]"></td>
          </tr>
        </thead>
        <tbody ng-if="category.expanded" ng-repeat="subcategory in category.cats">
          <tr class="subcategory" ng-click="subcategory.expanded = !subcategory.expanded">
            <td colspan="5" ng-bind="subcategory.name" ng-class="{true:'expanded', false:'collapsed'}[subcategory.expanded]"></td>
          </tr>
          <tr ng-if="subcategory.expanded" class="labels">
            <td class="set-column">Class</td>
            <td>Description</td>
            <td class="set-column">Pack</td>
            <td class="set-column">Author</td>
          </tr>
          <tr ng-if="subcategory.expanded" ng-repeat="class in subcategory.classes | filter:searchText">
            <td class="set-column">
              <a ng-bind="class.name" ng-href="{{class.link}}" target="_blank"></a>
            </td>
            <td ng-bind="class.description"></td>
            <td class="set-column">
              <a ng-if="class.pack" ng-bind="class.pack" ng-href="{{class.packLink}}" target="_blank"></a>
            </td>
            <td class="set-column" ng-if="class.authorLink">
              <a ng-bind="class.author" ng-href="{{class.authorLink}}" target="_blank"></a>
            </td>
            <td class="full" ng-if="!class.authorLink" ng-bind="class.author"></td>
          </tr>
        </tbody>
      </table>
    </section>

    <section id="new" ng-show="focus === 'new'">
      Creating a Class. http://daegames.blogspot.com/2014/09/dungeon-world-when-you-want-to-write.html
    </section>

    <section id="about" ng-show="focus === 'about'">
      <div class="about-sidebar">
        <div class="section-category">About</div>
        <div class="content">
          <p>
            The intent of this site is to be a resource for finding third party
            classes for Dungeon World. It was inspired by <a
            href="http://nerdwerds.blogspot.com/2013/04/dungeon-world-resources.html"
            target="_blank">The Nerdwerd's Post</a> about Dungeon World Resources,
            as well as the <a href="https://docs.google.com/spreadsheets/u/1/d/tT40-jw0aF56DcshZHxOm_g/htmlview"
            target="_blank">Big List of Dungeon World Classes</a>, both of which
            are unfortunately fairly consistently out of date.
          </p>
          <p>
            I initially tried to make a <a href="https://www.reddit.com/r/DungeonWorld/comments/3ycr50/complete_list_of_dungeon_world_classes/"
            target="_blank">Reddit Post</a> and contribute to the Wiki but the
            amount of data made it unpractical with the limited tools available.
            It also offered nothing along the lines of searching, collapsing
            sections, etc.
          </p>
          <p>
            This site also allows the freedom of creating a section that the other
            formats did not allow for, which is a walkthrough on Creating a Class.
            I consider this an incredibly important addition.
          </p>
          <p>
            I have attempted not to link any unintentional / unsanctioned releases
            of paid work. If I've made an error, please do let me know. When possible,
            I have tried to link the thread that announced the project for ease of
            getting in touch with the author for any feedback.
          </p>
          <p>
            Currently the PDFs and Docs are hosted where the creator uploaded them
            - whether that's Dropbox or MediaFire or a purchase through
            DriveThruRPG. This means that I do not have any control over whether a
            link goes down. I am considering hosting the free copies myself, but
            am uncertain about whether that's a good idea, since it involves the
            creators having to get in touch with <i>me</i> when they want something
            removed - an idea that I am against.
          </p>
          <p>
            This list does not currently contain any Compendium Classes, nor
            anything that was exclusively posted to the Something Awful Forums.
          </p>
          <p>
            I have tried to group things together in a reasonable way while trying
            too to keep the groups from becoming too sprawling. The Magic classes
            in general are broken up in fairly arbitrary ways. I obviously have not
            read every single playbook, so if something is better suited to a
            different location, please do let me know.
          </p>
        </div>
      </div>

      <div class="feedback">
        <div class="section-category">Feedback / Contact</div>
        <div class="content">
          If you would like to leave Feedback of any kind, please use the form below. I can also be found on Reddit as <a href="https://www.reddit.com/user/mpelletier/" target="_blank">/u/mpelletier</a> or via my personal site at <a href="http://www.mpelletier.net" target="_blank">mpelletier.net</a>.

          <div class="thanks" ng-show="submitted === true">
            Thanks for your comments!
          </div>

          <div class="form" ng-show="submitted === false">
            <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>

            <form action="https://docs.google.com/forms/d/1RliG_455nhKmB0SIa5fixEXLnqZLx_emboVhcNjEn4c/formResponse?embedded=true" method="POST" id="ss-form" target="hidden_iframe" ng-submit="submitted = true">

              <label for="entry_630685271">Select Feedback Type</label>
              <ol>
                <li>
                  <label>
                    <input type="radio" name="entry.1603133261" value="Broken/Outdated Download Link" id="group_1603133261_1" role="radio" aria-label="Broken/Outdated Download Link">
                    <span class="ss-choice-label">Broken/Outdated Download Link</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="entry.1603133261" value="New Class/Resources to Add" id="group_1603133261_2" role="radio" aria-label="New Class/Resources to Add">
                    <span class="ss-choice-label">New Class/Resources to Add</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="entry.1603133261" value="General Comment / Question" id="group_1603133261_3" role="radio" aria-label="General Comment / Question">
                    <span class="ss-choice-label">General Comment / Question</span>
                  </label>
                </li>
              </ol>

              <div>
                <label for="entry_6133229">Feedback <div>(This field is required. Please enter at least 10 characters.)</div></label>
                <textarea name="entry.6133229" rows="8" cols="20" id="entry_6133229" dir="auto" aria-label="Feedback  Must be at least 10 characters." aria-required="true" required="" aria-invalid="true"></textarea>

                <input type="hidden" name="draftResponse" value="[,,&quot;3308860938381739394&quot;]">
                <input type="hidden" name="pageHistory" value="0">
                <input type="hidden" name="fvv" value="0">
                <input type="hidden" name="fbzx" value="3308860938381739394">

                <input type="submit" name="submit" value="Submit" id="ss-submit" class="button active">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section id="resources" ng-show="focus === 'resources'">
      <div class="section-category">Resources</div>
      <div class="section-subcategory">Sites / Communities</div>
      <div class="content">
        <a href="http://www.dungeon-world.com" target="_blank">Official Site</a>
        <a href="http://www.dungeonworldsrd.com" target="_blank">Dungeon World SRD</a>
        <a href="https://www.reddit.com/r/DungeonWorld" target="_blank">/r/DungeonWorld on Reddit</a>
        <a href="https://plus.google.com/communities/100084733231320276299" target="_blank">Dungeon World Tavern on Google+</a>
      </div>
      <div class="section-subcategory">Other Resources</div>
      <div class="content">
        <a href="https://redboxvancouver.wordpress.com/2014/10/14/class-warfare-character-and-class-creation-for-dungeon-world/" target="_blank">Class Warfare</a>
        <a href="" target="_blank">Dungeon World Guide</a>
        <a href="http://www.drivethrurpg.com/product/156979/The-Perilous-Wilds" target="_blank">The Perilous Wilds</a>
        <a href="http://codex.dungeon-world.com/" target="_blank">Monster Builder</a>
      </div>
      <div class="section-subcategory">Actual Plays</div>
      <div class="content">
        <a href="https://www.youtube.com/playlist?list=PL-oTJHKXHicRNYOc9unj3D1GMzjz_i6V2" target="_blank">RollPlay</a>
        <a href="https://www.youtube.com/watch?v=Lo44CRPbWLU&list=PLSOKvcIdcJJevC-0LFZKQpHq3CsE5e-7K" target="_blank">Missclik's Meat Grinder</a>
        <a href="https://www.youtube.com/watch?v=9UGme0TVMCE&list=PLTj75n3v9eTkH1UJuEwvtCk7ih2OW7zHw" target="_blank">Roll20: An Evening with Dungeon World</a>
        <a href="http://kotnpodcast.blogspot.com/p/campaign-dungeon-world.html">Knights of the Night</a>
      </div>
    </section>


    <section id="copyright">
      Dungeon World is the work of <a href="http://www.dungeon-world.com" target="_blank">Sage LaTorra and Adam Koebel</a>.<br />
      Any additional classes are the work of the listed author.<br />
      Site designed and maintained by <a href="http://www.mpelletier.net">Michael Pelletier</a>.
    </section>


    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>

</body>
</html>
